.idea
.sass-cache
project.sublime-project
project.sublime-workspace
node_modules
.vscode

*.pdb
*.mdmp
/bin/hammer.vdf
/bin/hlmv.rf
/bin/GameConfig.txt
/bin/CmdSeq.wc
/bin/customcolors.dat
/lambdawars/console.log
/lambdawars/demoheader.tmp
/lambdawars/mountlist.txt
/lambdawars/stats.txt
/lambdawars/voice_ban.dt
/lambdawars/maps/*.wars.autosave
/lambdawars/SAVE
/lambdawars/screenshots
/lambdawars/modelsounds.cache
/lambdawars/cfg/config.cfg
/lambdawars/cfg/config_rts.cfg
/lambdawars/cfg/config_fps.cfg
/lambdawars/cfg/server.cfg
/lambdawars/cfg/server_blacklist.txt
/lambdawars/cfg/video.txt
/lambdawars/cfg/videodefaults.txt
/lambdawars/stats/
/lambdawars/matches/
/lambdawars/materials/deferred
/lambdawars/materials/maps/
/lambdawars/vprof/
/lambdawars/condump*

/lambdawars/mapsrc/**/*.log
/lambdawars/mapsrc/**/*.vmx
/lambdawars/mapsrc/**/*.prt
/lambdawars/mapsrc/**/*.bsp
/lambdawars/mapsrc/compile_*

# Pakking
/lambdawars/buildscripts/pakfiles.bat
/lambdawars/buildscripts/paklist.txt

# Sander maps
sno_*.bsp
sno_*.vmf
sno_*.bin

/lambdawars/materials/VGUI/webview

/lambdawars/python/srcmgr.info
/lambdawars/python/version.info
/lambdawars/activelobby
/lambdawars/activelobby.cache
/lambdawars/lobbymapinfo.cache
/platform/config/network_config.cached.json
/platform/config/ingamedialogconfig.vdf
/platform/config/serverbrowser.vdf

# Python cache directories
__pycache__

# Cef
debug.log
cache
GPUCache

# Generated by engine.dll
steam_appid.txt

# Allow some launch bat files by user
lambdawars*.bat

# TODO: Yes/no? 
bin/d3dx*.dll
bin/d3dcompiler_41.dll
bin/d3dcompiler_43.dll
