#wars_messagebox_all{
	position:absolute;
	left:0px; /*set by code*/
	top:0px; /*set by code*/
	-webkit-transform: scale(1);
	width: 560px;
	height: 110px;
	display: None;
}

#wars_messagebox_bg{
	position:absolute;
	top: 0px;
    left: 0px;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;
}

#wars_messagebox_container 
{
	position:absolute;
    top: 20px;
    left: 40px;
	
    width: 590px;
	height: 128px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;

}

#wars_messagebox_text_container{
	position:absolute;
	left:20px;
	top:2px;
	width: 560px;
	height: 110px;
}

#wars_messagebox_text
{
	position:absolute;
	color:white;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;
}

#wars_messagebox_button
{
	position:absolute;
	left: 413px;
	top: 64px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;
}

#wars_messagebox_box
{
	position:absolute;
	top: 0px;
    left: 0px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;
}