#wars_objectivelist_container 
{
	position:absolute;
	top: 0px;
	right: 0px;
	width: 500px;
	-webkit-transform: scale(1);
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor:default;
	display: None;

}

#wars_objectivespanel_objectivelist_element
{
	margin:5px;
	background-color: rgba(208, 130, 20, 0.2);
	border-radius: 5px;
}

#wars_objectivespanel_objectivelist
{
	color: #FFFFFF;
	list-style-type: none;  
}

#wars_objectiv_button
{
	position:absolute;
	top: 10px;
	right: 478px;
	color:white;
	//background-color: rgba(70, 70, 50, 0.9);
}