
// typography
$rem-base: 10px;

// colors

$white: #ffffff;
$offwhite: #cdcdcd;
$white80: rgba($white, 0.8);
$white40: rgba($white, 0.4);
$white20: rgba($white, 0.2);
$white10: rgba($white, 0.1);

$black: #000000;
$black20: rgba($black, 0.2);
$black60: rgba($black, 0.6);
$black80: rgba($black, 0.8);
$gray: #9e9e9e;
$darkergray: #181818;
$darkgray: #272727;
$darkgray20: rgba($darkgray, 0.2);
$darkgray40: rgba($darkgray, 0.4);
$darkgray60: rgba($darkgray, 0.6);
$darkgray80: rgba($darkgray, 0.8);
$darkgray90: rgba($darkgray, 0.9);
$darkgray95: rgba($darkgray, 0.95);

$orange: #cf880d;
$orange20: rgba($orange, 0.2);
$orange40: rgba($orange, 0.4);
$orange60: rgba($orange, 0.6);
$orange80: rgba($orange, 0.8);
$orange90: rgba($orange, 0.9);
$orange95: rgba($orange, 0.95);
$lightorange: #deb062;

$lightbrown: #cfc2ae;
$lightbrown50: rgba($lightbrown, 0.5);
$lighterbrown: #dbd0bd;
$darkbrown: #856e46;
$darkbrown50: rgba($darkbrown, 0.5);

$green: #61b329;

$m1: 5px;
$m2: 15px;
$m3: 30px;
$m4: 60px;

$p1: 5px;
$p2: 15px;
$p3: 30px;
$p4: 60px;