<section class="content-full" id="content-news">
	<main>
		<form ng-submit="submit()">
			<label>Content Folder: <input type="text" ng-model="item.folder"></input></label><br />
			<label>Title: <input type="text" ng-model="item.title" name="title" /></label><br />
			<label>Description: <input type="text" ng-model="item.description" name="description" /></label><br />
			<label>Preview: <input type="text" ng-model="item.preview"></input></label><br />
			<input type="submit" id="submit" value="Submit" /><br />
		</form>
	</main>
</section>

