.jqx-rc-tl-wars
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-wars
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-wars
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-wars
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-wars
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-wars
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-wars
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-wars
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-wars
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-wars {
    font-size: 12px; line-height: 17px;
    font-family: 'segoe ui', arial, sans-serif;
    color: inherit;
}
.jqx-widget-content-wars{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background-color: #252526;}
.jqx-widget-header-wars{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; color: #ffffff; border-color:#35353A; background-color:#3E3E42;}
.jqx-fill-state-normal-wars{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-fill-state-hover-wars{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color:#1C97EA; color: #fff; background-color:#1C97EA;

}
.jqx-fill-state-focus-wars { border-color: #000; }
.jqx-fill-state-pressed-wars{border-color:#007ACC; color: #fff; background-color:#007ACC;

}
.jqx-fill-state-disabled-wars {
    color: #898989;
}
.jqx-input-wars {
    border-color: #35353A;
}
.jqx-scrollbar-state-normal-wars, .jqx-grid-bottomright-wars, .jqx-panel-bottomright-wars, .jqx-listbox-bottomright-wars{background-color:#3E3E42;}
.jqx-widget-wars .jqx-grid-column-header-wars, .jqx-grid-cell-wars, .jqx-widget-wars .jqx-grid-cell-wars, .jqx-widget-wars .jqx-grid-group-cell-wars, .jqx-grid-group-cell-wars{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #1C1C1E; background-color: #2A2A2C; color: #fff;}
.jqx-tabs-title-selected-bottom-wars, .jqx-tabs-selection-tracker-bottom-wars, .jqx-tabs-title-selected-top-wars, .jqx-tabs-selection-tracker-top-wars{color: #ffffff; border-color:#35353A; border-bottom:1px solid #252526; background:#007ACC}
.jqx-widget-wars .jqx-grid-cell-alt-wars, .jqx-widget-wars .jqx-grid-cell-sort-wars, .jqx-widget-wars .jqx-grid-cell-pinned-wars, .jqx-widget-wars .jqx-grid-cell-filter-wars, .jqx-grid-cell-sort-alt-wars, .jqx-grid-cell-filter-alt-wars, .jqx-grid-cell-pinned-wars, .jqx-grid-cell-alt-wars, .jqx-grid-cell-sort-wars{ background-color:#3E3E42; color: #fff;}
.jqx-menu-vertical-wars{background: #3E3E42; border-color: #3E3E42;}
.jqx-widget-wars .jqx-grid-cell-wars, .jqx-widget-wars .jqx-grid-column-header-wars, .jqx-widget-wars .jqx-grid-group-cell-wars { border-color: #35353A;}

.jqx-widget-wars .jqx-grid-column-menubutton-wars, .jqx-widget-wars .jqx-grid-column-sortascbutton-wars, .jqx-widget-wars .jqx-grid-column-sortdescbutton-wars, .jqx-widget-wars .jqx-grid-column-filterbutton-wars {
    background-color: transparent;
    border-color: #35353A;
}
.jqx-window-header-wars, .jqx-input-button-header-wars, .jqx-calendar-title-header-wars, .jqx-grid-wars .jqx-widget-header-wars, .jqx-grid-header-wars, .jqx-grid-column-header-wars {font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-grid-column-menubutton-wars {
    background-image: url('images/metro-icon-down-white.png');
 }
.jqx-calendar-cell-today-wars {
    color: #35353A;
}

.jqx-widget-wars .jqx-grid-cell-selected-wars, .jqx-grid-cell-selected-wars{ background-color:#007ACC !important; border-color: #007ACC !important; font-size: 12px;  color:#fff !important}
.jqx-widget-wars .jqx-grid-cell-hover-wars, .jqx-grid-cell-hover-wars{ background-color:#1C97EA;}
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-wars {
    background-image: url('images/metro-icon-up-white.png');
 }
.jqx-grid-column-sortdescbutton-wars {
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-checkbox-check-checked-wars{background:transparent url(images/check_white.png) center center no-repeat}
.jqx-checkbox-check-indeterminate-wars{background:transparent url(images/check_indeterminate_white.png) center center no-repeat}
.jqx-checkbox-hover-wars, .jqx-radiobutton-hover-wars {
    background-color: #3E3E42;
    border-color: #3E3E42;
}
.jqx-radiobutton-check-checked-wars {
    background: #fff;
    border-color: #fff;
}

.jqx-scrollbar-thumb-state-normal-horizontal-wars, .jqx-scrollbar-thumb-state-normal-wars {
    background: #686868; border-color: #686868;
}
.jqx-scrollbar-thumb-state-hover-horizontal-wars, .jqx-scrollbar-thumb-state-hover-wars {
    background: #9E9E9E; border-color: #9E9E9E;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-wars, .jqx-scrollbar-thumb-state-pressed-wars {
    background: #ffffff; border-color: #ffffff;
}
.jqx-scrollbar-button-state-normal-wars
{
    border: 1px solid #3E3E42; 
    background: #3E3E42;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-wars
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-wars
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}

/*icons*/
.jqx-window-collapse-button-wars
{
    background-image: url(images/metro-icon-up-white.png);
}
.jqx-window-collapse-button-collapsed-wars {
  background-image: url(images/metro-icon-down-white.png);
}
.jqx-icon-arrow-up-wars, .jqx-expander-arrow-bottom-wars, .jqx-menu-item-arrow-up-wars
{
    background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-arrow-down-wars, .jqx-expander-arrow-top-wars, .jqx-tree-item-arrow-expand-wars, .jqx-tree-item-arrow-expand-hover-wars, .jqx-menu-item-arrow-down-wars
{
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-icon-arrow-left-wars, .jqx-menu-item-arrow-left-wars
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-icon-arrow-right-wars, .jqx-menu-item-arrow-right-wars, .jqx-tree-item-arrow-collapse-wars, .jqx-tree-item-arrow-collapse-hover-wars
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-tabs-arrow-left-wars, .jqx-tree-item-arrow-collapse-rtl-wars, .jqx-tree-item-arrow-collapse-hover-rtl-wars
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-wars
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-up-selected-wars, .jqx-icon-arrow-up-selected-wars{background-image:url('images/metro-icon-up-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-wars, .jqx-icon-arrow-down-selected-wars{background-image:url('images/metro-icon-down-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-wars, .jqx-icon-arrow-left-selected-wars{background-image:url('images/metro-icon-left-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-wars, .jqx-icon-arrow-right-selected-wars{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-window-close-button-wars, .jqx-icon-close-wars, .jqx-tabs-close-button-wars, .jqx-tabs-close-button-hover-wars, .jqx-tabs-close-button-selected-wars{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}
.jqx-listbox-feedback-wars {
    border-top: 1px dashed #fff;
}

.jqx-scrollbar-wars .jqx-icon-arrow-up-selected-wars{background-image:url('images/metro-icon-up-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-wars .jqx-icon-arrow-down-selected-wars{background-image:url('images/metro-icon-down-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-wars .jqx-icon-arrow-left-selected-wars{background-image:url('images/metro-icon-left-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-wars .jqx-icon-arrow-right-selected-wars{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-button-wars
{
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.jqx-input-button-content-wars
{  
    font-size: 10px;
}
.jqx-dropdownlist-state-normal-wars, .jqx-dropdownlist-state-hover-wars, .jqx-dropdownlist-state-selected-wars,
.jqx-scrollbar-button-state-hover-wars, .jqx-scrollbar-button-state-normal-wars, .jqx-scrollbar-button-state-pressed-wars,
.jqx-scrollbar-thumb-state-normal-horizontal-wars, .jqx-scrollbar-thumb-state-hover-horizontal-wars, .jqx-scrollbar-thumb-state-pressed-horizontal-wars,
.jqx-scrollbar-thumb-state-normal-wars, .jqx-scrollbar-thumb-state-pressed-wars, .jqx-button-wars, .jqx-tree-item-hover-wars, .jqx-tree-item-selected-wars,
.jqx-tree-item-wars, .jqx-menu-item-wars, .jqx-menu-item-hover-wars, .jqx-menu-item-selected-wars, .jqx-menu-item-top-wars, .jqx-menu-item-top-hover-wars, 
.jqx-menu-item-top-selected-wars, .jqx-slider-button-wars, .jqx-slider-slider-wars
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-wars {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #35353A;
}
.jqx-switchbutton-thumb-wars {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-wars {
    background: #007ACC;
    color: #007ACC;
}
.jqx-switchbutton-label-off-wars {
    background: #a6a6a6;
    color: #a6a6a6;
}

.jqx-switchbutton-wrapper-wars {
}
.jqx-grid-group-collapse-wars {
    background-image: url(images/metro-icon-right-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-collapse-rtl-wars
{
    padding-right: 0px;
    background-image: url(images/metro-icon-left-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-expand-wars, .jqx-grid-group-expand-rtl-wars
{
    padding-right: 0px;
    background-image: url(images/metro-icon-down-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-icon-arrow-first-wars, .jqx-icon-arrow-first-hover-wars, .jqx-icon-arrow-first-selected-wars
{
    background-image: url('images/metro-icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-wars, .jqx-icon-arrow-last-hover-wars, .jqx-icon-arrow-last-selected-wars
{
    background-image: url('images/metro-icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-wars.jqx-grid-cell-selected-wars>.jqx-grid-group-expand-wars,
.jqx-grid-cell-wars.jqx-grid-cell-hover-wars>.jqx-grid-group-expand-wars {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-metrodark.jqx-grid-cell-selected-wars>.jqx-grid-group-collapse-wars,
.jqx-grid-cell-metrodark.jqx-grid-cell-hover-wars>.jqx-grid-group-collapse-wars {
    background-image: url('images/metro-icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-wars.jqx-grid-cell-selected-wars>.jqx-grid-group-collapse-rtl-wars,
.jqx-grid-cell-wars.jqx-grid-cell-hover-wars>.jqx-grid-group-collapse-rtl-wars {
    background-image: url('images/metro-icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-wars.jqx-grid-cell-selected-wars>.jqx-grid-group-expand-rtl-wars,
.jqx-grid-cell-wars.jqx-grid-cell-hover-wars>.jqx-grid-group-expand-rtl-wars {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-expand-button-wars {
    margin-top: 3px;
}
.jqx-icon-search-wars
{
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-passwordinput-password-icon-wars, .jqx-passwordinput-password-icon-rtl-wars
{
    background-image: url(images/icon-showpassword-white.png) !important;
    background-repeat: no-repeat !important;
}
.jqx-icon-calendar-wars, .jqx-icon-calendar-hover-wars, .jqx-icon-calendar-pressed-wars {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-time-wars, .jqx-icon-time-hover-wars, .jqx-icon-time-pressed-wars {
    background-image: url('images/icon-time-white.png');
}
.jqx-icon-delete-wars
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-wars
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-wars
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-wars
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-wars
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-wars
{
    background-image: url(images/plus_white.png);
}
.jqx-menu-minimized-button-wars {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-editor-toolbar-icon-wars {
    background: url('images/html_editor_white.png') no-repeat;
}
