/* Main UI panel */
#swarmkeeper_container 
{
    position:fixed;
    bottom: 5px;
    left: 5px;
    height: 30%;
    width: 300px;
}

#swarmkeeper_container p
{
    color: rgb(255, 255, 255);
}

.swarmkeeper_tab 
{ 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
}

#swarmkeeper_spells 
{ 
    list-style-type: none;  
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
}

#swarmkeeper_rooms 
{ 
    list-style-type: none;  
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
}

#swarmkeeper_tabs 
{ 
    width: 100%; 
    height: 80%; 
}
#swarmkeeper_spells button 
{ 
    width: 100%; 
    height: 100%; 
}

#swarmkeeper_spells li 
{ 
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    font-size: 0.7em; 
    text-align: center;
}

#swarmkeeper_rooms button 
{ 
    width: 100%; 
    height: 100%; 
}

#swarmkeeper_rooms li 
{ 
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    font-size: 0.7em; 
    text-align: center;
}

#swarmkeeper_settingscontainer
{
    position:fixed;
    top: 5px;
    right: 5px;
}

/* Settings panel */
#swarmkeeper_settingsbutton
{
    position: relative;
    width: 10%;
    height: 25px;
    float: left;
    margin-top: 10%;
}
#swarmkeeper_settingspanel 
{
    margin-left: 10%;
    width: 90%;
    height: 100%;
}

#swarmkeeper_interval
{
    background-color: transparent;
    border:0; 
    color:#f6931f; 
    font-weight:bold;
    width: 50%;
}

#swarmkeeper_settings_spawnnow
{
    width: 100%;
    margin: 25px auto 0px auto; 
    text-align: center;
}

.swarmkeeper_slider_text
{
    background-color: rgb(0, 0, 0, 0);
}

#swarmkeeper_creatures_max
{
    background-color: transparent;
    border:0; 
    color:#f6931f; 
    font-weight:bold;
    width: 40%;
}