@import "../../menu_next/app/styles/_normalize.min";
@import "../../menu_next/app/styles/vars";

// Create with: https://google-webfonts-helper.herokuapp.com/fonts/
@import "font_open_sans";
@import "font_roboto_condensed";
@import "font_roboto";

$rem-base: 14px;

html {
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Open Sans';
	background: rgb( 0, 0, 0);
	color: rgb( 0, 0, 0);
	background-color: transparent;
	overflow: hidden;
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}

body, html {
	font-size: $rem-base;
	line-height: 1;
}

#viewport {
	height: 100%;
	min-height: 100%;
}

.btn {
	background: $lightbrown;
	color: $black;
	display: inline-block;
	padding: 0 1rem;
	height: 3.4rem;
	margin-right: 1rem;
	font-family: 'Roboto Condensed';
	font-size: 1.75rem;
	font-weight: 400;
	letter-spacing: 0.08rem;
	line-height: 3.4rem;
	text-transform: uppercase;
	opacity: 0.8;
	transition: all .2s;

	@media (max-width: 1180px) {
		font-size: 1.4rem;
		height: 2.0rem;
		line-height: 2.2rem;
		padding: 0 0.5rem;
		margin-right: 0.5rem;
	}

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		opacity: 1;
		background: $darkbrown;
		color: $white;
	}

	&.btn-small {
		font-size: 1.6rem;
		letter-spacing: 0.05rem;
		line-height: 2.6rem;
		height: 2.6rem;
		@media (max-width: 1180px) {
				font-size: 0.7rem;
		}

		@media (max-width: 1180px) {
			font-size: 1.2rem;
			letter-spacing: 0.05rem;
			line-height: 2.2rem;
			height: 2.2rem;
		}
	}

	&.btn-highlight {
		background: $orange;
		color: $black;
		opacity: 1;

		&:hover {
			background: $lightbrown;
		}
	}

	&.disabled {
		background: $lightbrown !important;
		opacity: 0.15 !important;
		color: $black !important;
		cursor: default;
		text-decoration: none;
		&:hover {
			background: $lightbrown !important;
			color: $black;
		}
	}
}
